.SearchBar {
    width: 100%;
    border:1px solid gray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    margin-left: 10px;

}

.instaName {
    height: 30px;
    width: 100px;
    padding-top: 5px;
}

.line {
    height: 30px;
    width: 1px;
    background: lightgrey;
}

.icons {
    height: 30px;
    width: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}