.loginForm{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width:500px;
    height: 250px;
    border:  1px solid black;
    align-items: center;
}

.loginForm input{
    width: 300px;
}

.loginForm .loginButton {
    margin-top: 40px;
}