.CommentSection {
    padding-left: 5px;
    padding-top: 10px;
    height: 100%;
    padding-right: 5px;
}

.likeIcons {
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.addComment input {
    text-align: left;
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

input:focus {
    outline:none;
}

.comment {
    display: flex; 
}

.commentUser {
    font-weight: bold;
    margin-right: 5px;
}

.commentText {
    display: inline;
    flex-wrap: wrap;
}